custom.el

.authinfo
auto-save-list/
autosaves/
backups/
bookmarks
elisp/
eln-cache/
elpa/
forge-database.sqlite
history
parinfer-rust/
persist/
persp-confs/
projects
recentf
tabsession.el
transient/
var/
tramp
